*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-nav
{
    margin: 2em;
}

.background-img
{
    background-image: url(../background.jpg);
    width: auto;
    height: 90vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.main-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: auto;
    padding: 40px;
}

.main-content-class
{
    margin: 10px;
}

.container-class
{
    display: flex;
    width: 70vw;
    padding: 100px;
    border: white 1px solid;
}

.text-class
{
    padding: 20px;
    text-align: center;
}

.about-class{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-color: rgb(11, 121, 165);
}

.opinion-class
{
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
    color: azure;
}