*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background: #FFF8FF;
    --green: #8DFA52;
    --blue: #5FBEFA;
}

body {
    background-color: var(--background);
}

nav 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}

.sub-nav
{
    margin: 2em;
}

.background-img
{
    background-image: url(../background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    height: 90vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.main-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin: auto;
   padding: 40px;
}

.main-content-class
{
    width: 100vh;
    margin: 20px;
}

.main-content-class-image
{
  width: 100vh;
  margin: 20px;
}

.main-content-class-image img
{
  width: 100%;
  height: 100%;
  min-width: 400px;
}
.container-class
{
    display: flex;
    width: 100vw;
    padding: 100px;
    background-color: var(--blue);
}

.text-class
{
    padding: 20px;
    text-align: center;
}

.about-class{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 
}

.opinion-class
{
    display: flex;
    width: 50vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.clients-opinion
{
    
    padding: 20px;
    border-radius: 20px;
    border: 2px solid var(--blue)
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
    color: azure;
}

.string{
    color: white;
    font-size: 4em;
}

.number
{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1100px)
{
    .main-content
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
        margin: auto;
       padding: 40px;
    }
    
    .main-content-class
    {
        width: 100vh;
        margin: 20px;
    }
    
    .main-content-class-image
    {
      width: 100vh;
      margin: 20px;
    }
    
    .main-content-class-image img
    {
      width: 100%;
      height: 100%;
      min-width: 400px;
    } 
}

@media (max-width: 850px)
{
    .main-content
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 90vw;
        margin: auto;
        padding: 20px;
    }
    
    .main-content-class
    {
        width: 100vh;
        margin: 20px;
    }
    
    .main-content-class-image
    {
      width: 100vh;
      margin: 20px;
    }
    
    .main-content-class-image img
    {
      width: 100%;
      height: 100%;
      min-width: 300px;
    } 

    .container-class
{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    padding: 20px;
    border: white 1px solid;
}

.text-class
{
    padding: 10px;
    text-align: center;
}
    
}