*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background: #FFF8FF;
    --green: #8DFA52;
    --blue: #5FBEFA;
}

body {
    background-color: var(--background);
}

button {
    background-color: var(--green); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 2s;
  }

button:hover {
    background-color: var(--blue)
    
}

.navigation
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.hide{
    display: none;
}

.sub-nav
{
    margin: 2em;
}

a:link, a:visited {
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  

.background-img
{
    background-image: url(../background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    height: 90vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.main-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin: auto;
   padding: 40px;
}

.main-content-class
{
    width: 100vh;
    margin: 20px;
}

.main-content-class-image
{
  width: 100vh;
  margin: 20px;
}

.main-content-class-image img
{
  width: 100%;
  height: 100%;
  min-width: 400px;
}
.container-class
{
    display: flex;
    width: 100vw;
    padding: 100px;
    background-color: var(--blue);
}

.text-class
{
    padding: 20px;
    text-align: center;
}

.about-class{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 
}

.opinion-class
{
    display: flex;
    width: 90vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.clients-opinion
{
    width: 30vw;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid var(--blue)
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
    color: azure;
}

.string{
    color: white;
    font-size: 4em;
}

.number
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.numbers-counter {
    text-align: center;
    padding: 20px;
}

.inc-number{
    color: var(--green);
    font-size: 5em;
}

.footer-brand {
    width: 20vw;
    text-align: center;
}

.footer-brand
{
    margin-top: 100px;
    margin-bottom: 100px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
   

}

.gallery-item img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    gap: 20px;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;

}

.pic img {
    width: 80%;
}

.gallery-open {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gallery-open img {
    width: 80%;
}

.exit{
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    margin: 20px;
    
}

.left-arrow {
    position: fixed;
    left: 0;
    margin: 20px;
 
}

.right-arrow {
    position: fixed;
    right: 0;
    margin: 20px;
}

.gallery-open img {
    opacity: 1;
}
.gallery-close {
    display: none;
}


.overlay {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.493);
  
    width: 100%;
    height: 100%;
}

.some-class {
    background-color: blanchedalmond;
    width: 50vw;
    padding: 20px;
    border: solid 2px var(--blue);
    border-radius: 20px;
}

.exit-button {
    text-align: right;
    color: var(--blue);
}

.fishes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fish1 {
   margin-bottom: 100px;
    

}

.fish2 {
    position: relative;
    top: 0;
    left: 250;
    
}

@media (max-width: 1100px)
{
    .main-content
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
        margin: auto;
       padding: 40px;
    }
    
    .main-content-class
    {
        width: 100vh;
        margin: 20px;
    }
    
    .main-content-class-image
    {
      width: 100vh;
      margin: 20px;
    }
    
    .main-content-class-image img
    {
      width: 100%;
      height: 100%;
      min-width: 400px;
    } 

    .container-class
    {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding: 100px;
    background-color: var(--blue);
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr ; 
        gap: 20px;
    
    }
    
}

@media (max-width: 850px)
{
    .main-content
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 90vw;
        margin: auto;
        padding: 20px;
    }
    
    .main-content-class
    {
        width: 100vh;
        margin: 20px;
    }
    
    .main-content-class-image
    {
      width: 100vh;
      margin: 20px;
    }
    
    .main-content-class-image img
    {
      width: 100%;
      height: 100%;
      min-width: 300px;
    } 

    .container-class
    {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding: 40px;
    background-color: var(--blue);
    }

    .text-class
    {
    padding: 10px;
    text-align: center;
    }

    .clients-opinion
    {
        width: 70vw;
        padding: 20px;
        border-radius: 20px;
        border: 2px solid var(--blue)
    }
    
    .number
    {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }
    .gallery {
        display: grid;
        grid-template-columns: 1fr; 
        gap: 20px;
    
    }

}

.scroll-text {
    animation: slide-left 5s linear infinite;
    font-size: 5em;
}

@keyframes slide-left {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
}

